<% include ./partials/sideNavheader.ejs %>
      <div class="dashboardSection2">
        <div class="dashBoardSectionsponseredSection"></div>
        <div class="dashboardSongsforYouSection">
          <div class="viewAllSection">
            <h3>Songs for You</h3>
            <a href="/viewAllSongsForYou">view All</a>
          </div>
          <div class="dashBoardMusicSection">
            <%music.forEach(function(elem){%>
            <div class="dashBoardPoster">
              <a href="/musicDetails/<%=elem._id%>">
                <div class="posterPhoto">
                  <img
                    src="/audioPosterFile/<%=elem.songPosterFile[0]%>"
                    alt=""
                  />
                </div>
                <div class="songArtistTitle">
                  <h3><%=elem.songName%></h3>
                  <h4><%=elem.songArtist%></h4>
                </div>
              </a>
            </div>
            <%})%>
          </div>
         <!----------------------------------Here player will come------------------------------------------>
        </div>
        <div class="dashBoardAlbumSection">
          <div class="dashboardAlbumHeading">
            <h3>ALBUMS</h3>
            <a href="/viewAllAlbum">viewAll</a>
          </div>
          <%user.album.forEach(function(elem){%>
            <div class="albumPoster">
              <div class="albumImage">
                <a href="/album/<%=elem._id%>">
                  <img src="/audioPosterFile/<%=elem.albumPoster%>" alt="poster" />
                </a>
              </div>
            </div>
          <%})%>
          
        </div>
        <div class="dashboardOtherSection"></div>
      </div>
<% include ./partials/sideNavFooter.ejs %>
